.articles {
	display: flex;
	flex-flow: wrap;
	align-items:flex-end;
	width:100%;
	height: auto;
	margin-bottom: 10%;
	transition: 2s ease-in;

	li {
	width: 100%;
	

    @include tablet {
	  	width:50%;
	  }
	 @include desktop {
	  	width: 25%;
	  }
	
}
	.article_images {
	  height:400px;
	  width:100%;
	  background-position: 50%;
	  background-size: cover;
	  background-repeat: no-repeat;
	  color:white;
	  display:flex;
	  transition: 10s ease-in;
	  overflow:hidden;
	  
	}

	a {
		text-decoration: none;
	}


}
 .abstract {
	  	align-self:flex-end;
	  	background-color: rgba(0,0,0,0.55);
	  	width:100%;
	  	line-height:1.5rem;
	    padding-left:5px;
  }
@include desktop {
	.article_images:hover .abstract {
		max-height:250px;
		visibility: visible;
	}
	.abstract {
	    transition: 0.8s ease-in-out;
        max-height: 0;
        margin-top: 3rem;
        visibility: hidden;
	}
}