.siteHeaderLarge {
	display: flex;
    flex-direction: column;
	height: 90vh;
	width:100%;
    align-items: center;
	justify-content: center;
	transition: 2s;
	@include tablet {
		flex-direction:row;
	}
	@include desktop {
		justify-content:flex-start;
		margin-left:2rem;
	}

	.logoLarge{
		margin-bottom:1rem;
	}
}
.innerSearchForm {
    p{
		text-transform: uppercase;
		margin-bottom:1rem;
	}
	select {
		width:9rem;
	}
}

.loader {
	display:none;
	img{
	  height:100px;
	  display:block;
	  margin:0 auto;
	}
}
.siteHeaderSmall {
	height:35vh;
	transition: 1s ease-in;
	@include tablet {
		height:20vh;
		justify-content: flex-start;
	}
	@include desktop {
	    justify-content: flex-start;
	}
	.logoLarge {
	 text-align: center;
	img{
		width:50%;
	   }
	   @include tablet {
		   img {
			   width:50%;
		   }
	   }
	}
}